<div class="dinner-wrapper">
  <div class="bar bar-header bar-positive" style="background: transparent;">
    <button ng-click="vm.back()" class="button back-button buttons button-clear header-item">
      <i class="icon ion-ios-arrow-back"></i>
      <span class="back-text">
        <span class="default-title" style="text-shadow: 1px 2px 2px rgba(0,0,0,0.2);">Back</span></span></button>
  </div>

  <ion-content>
    <section style="background: url({{ vm.dinner.recepie.receptafbeelding }}) no-repeat #D6C296; background-size: cover; min-height: 200px;">


      <h2 class="dinner-title" ng-bind="vm.dinner.recepie.recepttitel"></h2>


      <div class="user-card">

        <div class="item item-avatar">
          <div class="user-image" ng-style="{'background-image': 'url(' + vm.dinner.user.facebook.profileImageURL + ')'}"></div>
          <div class="user-content">
            <h1>{{vm.dinner.user.facebook.displayName}}</h1>
            <p>Table Rookie</p>
          </div>
        </div>

      </div>

    </section>

    <div class="dinner">
      <button class="button button-block button-positive">
        Join this dinner!
      </button>

      <br>

      <div class="row">
        <div class="col col-25">
          <strong>Time</strong>
        </div>
        <div class="col col-75 text-right">
          <span class="timeago">
            in {{vm.dinner.readyAt | amDurationFormat : 'minute' }}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col col-25">
          <strong>Fee</strong>
        </div>
        <div class="col col-75 text-right">
          {{ vm.dinner.fee }} coins
        </div>
      </div>

      <div class="row">
        <div class="col col-25">
          <strong>Calories</strong>
        </div>
        <div class="col col-75 text-right">
          {{ vm.dinner.recepie.receptenergie }}
        </div>
      </div>

    </div>

    &nbsp;<p>
    &nbsp;<p>
    &nbsp;<p>
    &nbsp;<p>

  </ion-content>
</div>
