@import "../../common/common";

ion-content {
  background-color: $content-wrap !important;
}
.button-skew {
  transform: skewx(15deg);
  border: 4px solid #D6C296 !important;
  border-right: 0 !important;
  background: #E3D4B1 !important;
  color: #827966 !important;
  font-weight:bold;
  box-shadow:none !important;
  min-height: 55px !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;

  &:first-child {
    margin-left:-20px;
    padding-left: 36px;
  }

  &:last-child {
    margin-right:-20px;
    padding-right: 36px !important;
  }

  &.active {
    background: #F9E8BD !important;
    border-bottom:0 !important;
  }

  i {
    width: 22px;
    position: absolute;
    height: 22px;
    margin-top: 13px;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.skew-back {
  display:block;
  transform: skewx(-15deg);
}

.icon-discover-default {
   background-image: url('images/dinnerquest-09.svg');
}

.icon-discover-category {
  background-image: url('images/dinnerquest-10.svg');
}

.icon-discover-rating {
  background-image: url('images/dinnerquest-11.svg');
}

.icon-discover-location {
  background-image: url('images/dinnerquest-12.svg');
}

.icon-discover-search {
  background-image: url('images/dinnerquest-13.svg');
}