<ion-content class="has-tabs">
  <hero></hero>

  <div class="button-bar">
    <a class="button button-skew" href ng-click="vm.sort = 'default'" ng-class="{'active': vm.sort === 'default'}">
      <span class="skew-back"><i class="icon-discover-default"></i></span>
    </a>
    <a class="button button-skew" href ng-click="vm.sort = 'rating'" ng-class="{'active': vm.sort === 'rating'}">
      <span class="skew-back"><i class="icon-discover-rating"></i></span>
    </a>
    <a class="button button-skew" href ng-click="vm.sort = 'category'" ng-class="{'active': vm.sort === 'category'}">
      <span class="skew-back"><i class="icon-discover-category"></i></span>
    </a>
    <a class="button button-skew" href ng-click="vm.sort = 'search'" ng-class="{'active': vm.sort === 'search'}">
      <span class="skew-back"><i class="icon-discover-search"></i></span>
    </a>
    <a class="button button-skew" href ng-click="vm.sort = 'location'" ng-class="{'active': vm.sort === 'location'}">
      <span class="skew-back"><i class="icon-discover-location"></i></span>
    </a>
  </div>

  <list items="vm.dinners" sorting="vm.sort"></list>

</ion-content>
