<div class="bar bar-header bar-positive">
  <h1 class="title">{{ vm.name }}</h1>
</div>

<ion-content class="has-header has-tabs">
  <hero></hero>

  <div class="button-bar">
    <a class="button" href ng-click="vm.sort = 'default'" ng-class="{'active': vm.sort === 'default'}">Default</a>
    <a class="button" href ng-click="vm.sort = 'rating'" ng-class="{'active': vm.sort === 'rating'}">Rating</a>
    <a class="button" href ng-click="vm.sort = 'category'" ng-class="{'active': vm.sort === 'category'}">Category</a>
    <a class="button" href ng-click="vm.sort = 'search'" ng-class="{'active': vm.sort === 'search'}">Search</a>
    <a class="button" href ng-click="vm.sort = 'location'" ng-class="{'active': vm.sort === 'location'}">Location</a>
  </div>

  <list sorting="vm.sort"></list>

</ion-content>
