discover-item {display:block;}

.discover-item {
  padding: 10px 25px 0;
  font-size: 16px;

  &:after {
    content: ' ';
    border-bottom: 1px solid #D6C296;
    display: block;
  }
}

.discover-item .image {
  max-width: 100%;
  border-radius: 100%;
  min-width:60px;
  min-height: 60px;
  border: 4px solid #fff;
}

.discover-item .title {
  float: left;
  font-weight: bold;
  max-width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.discover-item .distance {
  float: right;
  font-weight: bold;
  font-size: 18px;
}

.discover-item .price {
  float: left;
}

.discover-item .timeago {
  float: right;
}

.discover-item .item-information {
  margin-top: 16px;
  margin-left: 15px;
}
