.dq-slider {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.dq-slider .person {
  display: inline-block;
  height: 60px;
  width: 23px;
  background-image: url('images/people1.svg');
  background-repeat: no-repeat;
}

.dq-slider .person.active {
  background-image: url('images/people.svg');
}

.dq-slider .coin {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-image: url('images/coin1.svg');
  background-repeat: no-repeat;
}

.dq-slider .coin.active {
  background-image: url('images/coin.svg');
}
