badges {
  display:block;
  padding: 45px 15px 15px 25px;
  background: #E4D4AD;
  border-top: 6px solid #D6C296;

  .button-bar .button {
    background: none;
    border: none;
    padding: 0 !important;
  }
}

.dbadge {
  width:50px;
  height: 50px;
  background-repeat: no-repeat;
}

.badge-1 {
  background-image: url('images/dinnerquest-15.svg');
}

.badge-2 {
  background-image: url('images/dinnerquest-16.svg');
}

.badge-3 {
  background-image: url('images/dinnerquest-17.svg');
}

.badge-4 {
  background-image: url('images/dinnerquest-18.svg');
}