<ion-content class="has-tabs">
    <hero></hero>

    <user-header></user-header>

    <badges></badges>

    <div class="row">
        <button class="create-button padding-object">
            Request a dinner!
        </button>
    </div>

    <div class="row">
        <h2 class="padding-object" style="margin-bottom:0;"><strong>Reviews</strong></h2>
    </div>

    <div class="discover-item">
        <div class="row">
            <div class="col col-20">
                <img class="image" ng-src="{{ vm.data.image }}" alt=""/>
            </div>
            <div class="col col-80">
                <div class="item-information">
                    <div class="clearfix">
                        <span class="title">Flip van Haaren</span>
                        <span class="timeago">3 days ago</span>
                    </div>
                    <div class="clearfix">
                        <span class="price">Failed food experiment, great hospitality :D</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="discover-item">
        <div class="row">
            <div class="col col-20">
                <img class="image" ng-src="{{ vm.data.image }}" alt=""/>
            </div>
            <div class="col col-80">
                <div class="item-information">
                    <div class="clearfix">
                        <span class="title">Madhu</span>
                        <span class="timeago">5 days ago</span>
                    </div>
                    <div class="clearfix">
                        <span class="price">Master of sushi!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="padding">
      <button class="button button-assertive button-block button-outline" ng-click="vm.logout()" on-tap="vm.logout()">
        Logout
      </button>
    </div>

    &nbsp;<p>
    &nbsp;<p>


</ion-content>
