@import "../../common/common";

.create-label {
  font-size: 20px;
  display: block;
  font-weight: bold;
}

.create-modal {
  margin: 15px;
}

.create-modal > .row {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  background-color: #DBCFB1;
  box-shadow: 0 0 0 4px #968D78;
  border: 3px solid #C4BA9E !important;
  padding: 4px !important;
  border-radius: 50px;
  line-height: normal !important;
  height: auto !important;
  color: #968D78 !important;
  font-size: 18px !important;
  padding-left: 12px !important;
}

input::-webkit-input-placeholder {
  color: #968D78 !important;
  text-align: center;
}

.create-button {
  padding: 4px;
}
