<ion-modal-view>
  <ion-content>
    <hero></hero>
    <div class="create-modal">
      <div class="row">
        <div class="col">
          <search-bar></search-bar>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="create-label">Attendees</span>
          <dq-slider value="vm.people" max="8" type="'person'"></dq-slider>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="create-label">Fee</span>
          <dq-slider value="vm.coins" max="8" type="'coin'"></dq-slider>
        </div>
      </div>
      <div class="row">
        <div class="col col-25">
          <button class="close-button" ng-click="vm.closeModal()">
            &#10006;
          </button>
        </div>
        <div class="col col-75">
          <button class="create-button" ng-click="vm.start()">
            Start cooking!
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
