<ion-modal-view>

  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div>

  <ion-content class="has-header">
    <hero></hero>
    <div class="row">
      <input type="text"/>
    </div>
    <div class="row">
      <div class="col">
        <span class="create-label">Attendees</span>
        <dq-slider max="8" type="'person'"></dq-slider>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="create-label">Fee</span>
        <dq-slider max="8" type="'coin'"></dq-slider>
      </div>
    </div>
    <div class="row">
      <div class="col col-25">
        <button class="button" ng-click="vm.closeModal()">
          Cancel
        </button>
      </div>
      <div class="col col-75">
        <button class="button">
          Start cooking!
        </button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
